.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/design-assets/bgk-middle.png');
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#row2-paragraph {
  color: white;
}

.row2-play-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
