.row3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.row3-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row3-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-auto-rows: auto;
  grid-gap: 0;
}

.divider-vertical {
  background-color: rgb(197, 197, 197);
  width: 1px;
  height: 100%;
  margin: 0 auto;
}

.divider-horizontal {
  background-color: rgb(195, 195, 195);
  height: 1px;
  width: 1000%;
  margin: 10px 0;
}

.row3-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
