.row3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.row3-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row3-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin-top: 40px;
  align-items: center;
}

.row3-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding: 20px;
  min-width: 275px;
  height: 300px;
}

.grid-item1 {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.grid-item2 {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.grid-item3 {
  border-bottom: 1px solid lightgray;
}

.grid-item4 {
  border-right: 1px solid lightgray;
}

.grid-item5 {
  border-right: 1px solid lightgray;
}

@media screen and (max-width: 1150px) {
  .row3-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin-top: 40px;
    align-items: center;
  }

  .row3-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
    min-width: 200px;
    height: 300px;
  }

  .grid-item1 {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }

  .grid-item2 {
    border-right: 0;
    border-bottom: 0;

    border-bottom: 1px solid lightgray;
  }

  .grid-item3 {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }

  .grid-item4 {
    border-right: 0;
    border-bottom: 1px solid lightgray;
  }

  .grid-item5 {
    border-right: 1px solid lightgray;
  }
}

@media screen and (max-width: 690px) {
  .row3-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
    min-width: 200px;
    height: 300px;
  }
}
