.row5 {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 80px 0 80px 0;
  flex-wrap: wrap;
}

.row5-left-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 400px;
}

.row5-left-container form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-right: 40px;
}

.row5-left-container form input {
  padding: 15px;
  font-size: 1em;
}

.row5-left-container form button {
  width: 50%;
  background-color: white;
  border: 1px solid #00e0d0;
  width: 120px;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
  color: #00e0d0;
  border-radius: 3px;
}

.row5-left-container form button:hover {
  color: black;
  border: 1px solid black;
  border-radius: 3px;
}

.row5-right-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}

.right-container-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.row5-right-container img {
  width: 150px;
}
