@import './CSS/header.css';
@import './CSS/footer.css';
@import './CSS/row1.css';
@import './CSS/row2.css';
@import './CSS/row3.css';
@import './CSS/row4.css';
@import './CSS/row5.css';

/* PLEASE DON'T CHANGE SOMTHING HERE USE SEPARATE FILES
AND PLEASE USE UNIQE .CLASSES 
*/

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
